*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
}

.title{
    text-align:center;
    margin-bottom:20px;
}

.title h2{
    color:blue;
    margin-bottom:5px;
}

.title h5{
    color:#666;
}

#container{
  max-height:100vh;
    width:100%;
    padding:15px;
    background:white;
    border:2px solid #000;
    border-radius:25px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

.top{
    grid-column:1/5;
    display:flex;
    gap:10px;
}

.display{
    flex:1;
    height:60px;
    width: 50px;
    border:2px solid #000;
    border-radius:10px;
    padding:10px;
    font-size:14px;
    text-align:right;
    
}

.ac{
    width:70px;
    height:60px;
    background:#ff9800;
    border-radius:10px;display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    text-align: center;
}

.box{
    height:60px;
    color: black;
    background:#e0e;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.green{
    height:60px;
    background:#4caf50;
    color:black;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.red{
    height:60px;
    background:#f44336;
    color:black;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.box:hover,
.green:hover,
.red:hover,
.ac:hover{
  background: yellow;
    opacity:0.85;
}

.box:active,
.green:active,
.red:active,
.ac:active{
    transform:scale(0.90);
}

