* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body{
  /*background-color: pink;*/
  height:100vh;
  width:100%;
  margin:10px solid black;
  display: flex;
  flex-direction:column ;
  min-height: 100vh;
}
main {
  flex: 1; 
  padding:20px/* pushes footer down */
}

.heading h4,
.heading h6{
  margin: 0;
  padding: 0;
}

.heading{
  height: 50px;
  width: 300px;
  color: green;
  background: black;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px;
  gap: 0px;
}

.container{
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  
}
.card{
  height:450px ;
  width:250px;
  background-color: yellow;
  border:2px solid black;
  border-radius: 25px;
  text-align: center;
  flex-direction:column ;
  display: grid;
  place-items: center;
}
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding:  15px;
  font-size: 4px;
}

footer p {
  margin: 0;
}